<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>FoodieShare</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/index.css">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
</head>


<body>
    <a href="/posts/create"> CREATE </a>
    <section id="container">
        <header id="header">
            <section class="inner">

                <h1 class="logo">
                    <img class="logoImg" src='https://ifh.cc/g/9qtKfn.png' border='0'>
                </h1>

            </section>

        </header>


        <section id="main_container">
            <div class="inner">
                <div class="contents_box">
                    <article class="contents">
                        <div class="map-div">
                            <img src="/icons/map.svg" class="map-icon">
                        </div>
                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img class="user" src="/icons/smantha.svg">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name">Samantha_Rogers</div>
                                    <div class="place">@DreamCatchers Cafe </div>
                                </div>

                            </div>

                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="follow" data-name="follow"></li>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </header>

                        <div class="img_section">
                            <div class="trans_inner">
                                <div>
                                    <img src="/icons/pizza.svg">
                                </div>
                            </div>
                        </div>


                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <img src="/icons/heart.svg" class="favorite">
                                </div>
                                <div class="sprite_bubble_icon message">
                                    <img src="/icons/message.svg">
                                </div>
                                <div class="sprite_share_icon" data-name="share">
                                    <img src="/icons/share.svg">
                                </div>
                            </div>
                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="bookmark">
                                    <img src="/icons/save.svg" class="bookmark">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="likes">
                            <span id="like-count-39">22,346</span>
                            likes

                        </div> -->

                        <div class="comment_container">
                            <div class="comment" id="comment-list-ajax-post37">
                                <div class="comment-detail">
                                    <div class="profile_img">
                                        <img class="user" src="/icons/smantha.svg">
                                    </div>
                                    <div class="nick_name">Samantha_Rogers</div>
                                    <div class="comment">Pizza #pizza<br>#food #foodieshare
                                    </div>

                                </div>
                            </div>
                            <div class="small_heart">
                                <div class="sprite_small_heart_icon_outline"></div>
                            </div>
                        </div>

                        <!-- <div class="timer">1 DAY AGO</div> -->

                        <div class="comment_field">
                            <input class="add_comment" type="text" placeholder="Add a Comment...">
                            <!-- <div class="upload_btn" data-name="comment">POST</div> -->
                        </div>
                    </article>

                    <!-- second -->
                    <article class="contents">
                        <div class="map-div">
                            <img src="/icons/map.svg" class="map-icon">
                        </div>
                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img class="user" src="/icons/tiffany.svg">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name">TiffanyEats_</div>
                                    <div class="place">@East Side Bar</div>
                                </div>
                            </div>

                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="follow" data-name="follow"></li>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </header>

                        <div class="img_section">
                            <div class="trans_inner">
                                <img src="/icons/firefox_hGsKceppKb 1.svg">
                            </div>
                        </div>

                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <img src="/icons/heart.svg" class="favorite">
                                </div>
                                <div class="sprite_bubble_icon message">
                                    <img src="/icons/message.svg">
                                </div>
                                <div class="sprite_share_icon" data-name="share">
                                    <img src="/icons/share.svg">
                                </div>
                            </div>
                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="bookmark">
                                    <img src="/icons/save.svg" class="bookmark">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="likes">
                            <span id="like-count-39">1,346</span>
                            <span id="bookmark-count-39"></span>
                            likes
                        </div> -->

                        <div class="comment_container">
                            <div class="comment" id="comment-list-ajax-post37">
                                <div class="comment-detail">
                                    <div class="profile_img">
                                        <img class="user" src="/icons/tiffany.svg">
                                    </div>
                                    <div class="nick_name">TiffanyEats_</div>
                                    <div class="comment">girls night out!<br> long time no see, jessica!</div>
                                </div>
                            </div>
                            <div class="small_heart">
                                <div class="sprite_small_heart_icon_outline"></div>
                            </div>
                        </div>

                        <!-- <div class="timer">3 DAYS AGO</div> -->

                        <div class="comment_field">
                            <input class="add_comment" type="text" placeholder="Add a Comment...">
                            <!-- <div class="upload_btn" data-name="comment">POST</div> -->
                        </div>
                    </article>

                    <!-- third post -->

                    <article class="contents">
                        <div class="map-div">
                            <img src="/icons/map.svg" class="map-icon">
                        </div>
                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img class="user" src="/icons/andy.svg">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name">andysadventure</div>
                                    <div class="place">@McDonalds</div>
                                </div>

                            </div>

                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="follow" data-name="follow"></li>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </header>

                        <div class="img_section">
                            <img class="img_post" src="/icons/img.svg">
                        </div>

                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <img src="/icons/heart.svg" class="favorite">
                                </div>
                                <div class="sprite_bubble_icon message">
                                    <img src="/icons/message.svg">
                                </div>
                                <div class="sprite_share_icon" data-name="share">
                                    <img src="/icons/share.svg">
                                </div>
                            </div>
                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="bookmark">
                                    <img src="/icons/save.svg" class="bookmark">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="likes">
                            <span id="like-count-39">998</span>
                            likes

                        </div> -->

                        <div class="comment_container">
                            <div class="comment" id="comment-list-ajax-post37">
                                <div class="comment-detail">
                                    <div class="profile_img">
                                        <img class="user" src="/icons/andy.svg">
                                    </div>
                                    <div class="nick_name">andysadventure</div>
                                    <div class="comment">Got a feast for<br> the family today!</div>
                                </div>
                            </div>
                            <div class="small_heart">
                                <div class="sprite_small_heart_icon_outline"></div>
                            </div>
                        </div>

                        <!-- <div class="timer">7 DAYS AGO</div> -->

                        <div class="comment_field">
                            <input class="add_comment" type="text" placeholder="Add a Comment...">
                            <!-- <div class="upload_btn" data-name="comment">POST</div> -->
                        </div>
                    </article>


                    <!-- last-->
                    <article class="contents">
                        <div class="map-div">
                            <img src="/icons/map.svg" class="map-icon">
                        </div>
                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img class="user" src="/icons/cindy.svg">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name">cindyyyyy</div>
                                    <div class="place">@DreamCatchers Cafe </div>
                                </div>

                            </div>

                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="follow" data-name="follow"></li>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </header>

                        <div class="img_section">
                            <img class="img_post" src="/icons/img (1).svg">
                        </div>

                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <img src="/icons/heart.svg" class="favorite">
                                </div>
                                <div class="sprite_bubble_icon message">
                                    <img src="/icons/message.svg">
                                </div>
                                <div class="sprite_share_icon" data-name="share">
                                    <img src="/icons/share.svg">
                                </div>
                            </div>
                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="bookmark">
                                    <img src="/icons/save.svg" class="bookmark">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="likes">
                            <span id="like-count-39">998</span>
                            likes

                        </div> -->

                        <div class="comment_container">
                            <div class="comment" id="comment-list-ajax-post37">
                                <div class="comment-detail">
                                    <div class="profile_img">
                                        <img class="user" src="/icons/cindy.svg">
                                    </div>
                                    <div class="nick_name">cindyyyyy</div>
                                    <div class="comment">Breakfast of champions<br>from the DreamCatchers Cafe.</div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="timer">7 DAYS AGO</div> -->

                        <div class="comment_field">
                            <input class="add_comment" type="text" placeholder="Add a Comment...">
                            <!-- <div class="upload_btn" data-name="comment">POST</div> -->
                        </div>
                    </article>
                </div>

                <div class="bottom_tab_bar">
                    <div class="bottom_tab_bar_wrap">
                        <a href="/posts">
                            <img src="/icons/home.svg">
                        </a>
                        <a href="#">
                            <img src="/icons/explore.svg">
                        </a>
                        <a href="/posts/create">
                            <img src="/icons/post-new.svg">
                        </a>
                        <a href="#">
                            <img src="/icons/txt.svg">
                        </a>
                        <a href="/authentication/login">
                            <img src="/icons/profile.svg">
                        </a>
                    </div>
                </div>

            </div>
        </section>


    </section>

    <script>

        //make this into function
        const contents = document.querySelector('div.contents_box')
        contents.addEventListener('click', (event) => {
            if (event.target.classList.contains("favorite")) {
                if (event.target.classList.contains("liked")) {
                    event.target.classList.remove('liked');
                    event.target.src = "/icons/heart.svg"

                } else {
                    event.target.classList.add('liked')
                    event.target.src = "/icons/like.svg"
                }
            }

            if (event.target.classList.contains("bookmark")) {
                if (event.target.classList.contains("saved")) {
                    event.target.classList.remove('saved');
                    event.target.src = "/icons/save.svg"
                } else {
                    event.target.classList.add('saved');
                    event.target.src = "/icons/saved.svg"
                }
            }

        })
    
    </script>

</body>

</html>